
body {
    background-color: #cff;
}
div.frame {
    /*text-align: center;*/
    width: 235px;
    height: 20px; /*16 + margin-top + margin-bottom*/
    padding: 0px 3px;
    
    margin: 5px;
    overflow: hidden;
}
div.frame p {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    margin: 2px auto;
}
#namelist {
    background-color: #ddf;
    width: 250px;
}

input[type="button"] {
    height: 50px;
    width: 100px;
    margin: 10px;
    margin-left: 30px;
    
    font-size: 1.2em;
    font-family: 'Comic Sans MS', Impact, fantasy;
    
    border: none;
    border-radius: 50px / 25px;
    background-color: #fb6;

    box-shadow: 3px 5px 3px gray;
    -webkit-box-shadow: 3px 5px 3px gray;
}
input[type="button"]:hover {
    background-color: #f93;
}
input[type="button"]:active {
    transform: translate(1px, 3px);
    box-shadow: 2px 2px 3px gray;
    -webkit-box-shadow: 2px 2px 3px gray;
}
input[type="button"][disabled] {
    background-color: #ccc;
}
input.button{
    height:30px;
width:100px;

    font-size:50px;

    font-weight:bold;

} 


table#resultTable {
    border-collapse: collapse;
    border: solid 2px #339;
    background-color: #fff;
}
table#resultTable tr {
    border: solid 2px #339;
}
table#resultTable th {
    border: solid 2px #339;
    width: 25px;
}
table#resultTable td {
    border: solid 2px #339;
}

